@model ConversationVM
@{
    ViewBag.Title = "Contact has been made!";
    bool typeofuserisSpecialist = spc.IsThereASpecialistWithThisUserId(Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))).Result;
}
@using MentalDepths.Services.Web.Interfaces;
@inject ISpecialistService spc;
<!--Sends the username of the current user to the chat.js code-->
<input type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" id="userInput" />
<input type="hidden" value="@Model.Id" id="conversationId" />
<input type="hidden" value="@typeofuserisSpecialist" id="TypeOfUser" />
<script type="text/javascript">
    window.alert("Keep in mind that you are talking to a real human.\nBe mindful, polite and follow our guidlines!")
    function Confirmation(){
        let text;
        if (confirm("Are you sure you want to set an apointement then and there?") == true) {
            text = "You pressed OK!";
        } else {
            text = "You canceled!";
        }
        document.getElementById("demo").innerHTML = text;
    }
    </script>

<style>
    .li_align_right{
        text-align:right;
    }
    .li_align_left{
        text-align:left;
    }
</style>
<h2 cla0ss="text-center">@ViewBag.Title </h2>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid col-md-8">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card" id="chat2">
                        <div class="card-header d-flex justify-content-between align-items-center p-1">
                            <h5 class="mb-0">Chat</h5>
                        </div>
                        <div class="card-body clearfix overflow-auto" data-mdb-perfect-scrollbar="true" style="position: relative;max-height: 450px;width:auto;">
                            <ul class="list-group" id="messagesList">
                                @if (Model.Messages.Count > 0)
                                {
                                    @foreach (var item in Model.Messages)
                                    {
                                        @if (item.TypeOfUser == 0)
                                        {
                                            <label asp-for="@item.Text">
                                                <small class="text-muted text-start">
                                                    Message send on: @item.TimeOfSend
                                                </small>
                                            </label>
                                            <li class="li_align_left list-group-item">@item.Text</li>
                                        }
                                        else
                                        {
                                            <label asp-for="@item.Text">
                                                <small class="text-muted text-end">
                                                    Message send on: @item.TimeOfSend
                                                </small>
                                            </label>
                                            <li class="li_align_right list-group-item">@item.Text</li>
                                        }
                                    }
                                }
                                @if (Model.Messages.Count == 0)
                                {
                                    <li class="list-group-item">No messages yet!</li>
                                }

                            </ul>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-start align-items-center p-1">
                            <input type="text" class="form-control form-control-lg" id="messageInput"
                                   placeholder="Type message">
                            <input type="button" id="sendButton" value="Send Message" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="@Model.Specialist.ImageURL" style="max-width:300px;max-height:250px;">
            @if (typeofuserisSpecialist)
            {
                <form method="post">
                    <div class="form-group">
                        <div class="mb-3">
                            <label asp-for="@Model.BookAnApointment.Date">Pick a date</label>
                            <input asp-for="@Model.BookAnApointment.Date" class="form-control" type="datetime-local">
                        </div>
                        <div class="mb-3">
                            <select asp-for="@Model.BookAnApointment.AddressId" class="form-control" aria-required="true">
                                @foreach (var ad in Model.BookAnApointment.Address)
                                {
                                    <option value="@ad"></option>
                                }
                            </select>
                            <label asp-for="@Model.BookAnApointment.AddressId"></label>
                        </div>
                    </div>
                    <input class="btn btn-primary mt-3"  asp-action="Note" asp-controller="Conversation" type="submit" value="Set a meeting" />
                </form>
            }
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>