@model CreateASpecialistVM
@{
    ViewBag.Title = "Job Application";
    var currentUserId = Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}
<h1>@ViewBag.Title</h1>
<hr>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post">
            <h2>Register as a Specialist.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <small class="text-muted">Make sure the images are fitting for the occasion</small>
                <input asp-for="@Model.ImageURL" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.ImageURL" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <small class="text-muted">Enter your age here <small class="text-info">21-76</small></small>
                <input asp-for="@Model.Age" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Age" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <small class="text-muted">Please insert a phone number <small class="text-info">0876451392</small></small>
                <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.ApplicationUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <small class="text-muted">Write your address here! Example: <small class="text-info">ul. Haideger blok 17 vh. 71</small></small>
                <input asp-for="@Model.Address" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <small class="text-muted">Tell us more about yourself!(Where did you study? Do you have any practice? <small class="text-info">Maybe look at some of the descriptions of our other specialists <a asp-action="All" asp-controller="Specialist">here</a></small>)</small>
                <input asp-for="@Model.Description" class="form-control" aria-required="true" />
            </div>
            <div class="form-floating">
                <small class="text-muted">When writing them down <small class="text-danger">make sure</small> to write your specialisations with a comma between them. Example: <small class="text-info">Prepubescent psycology, PTSD dissorder specaialist)</small></small>
                <input asp-for="@Model.Specialisations" class="form-control" aria-required="true" />
            </div>
            <div class="form-floating">
                <input asp-for="@Model.UserId" class="form-control" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
            </div>
            <input class="btn btn-primary w-50" type="submit" value="Submit!" />
           </form>
    </div>
    <div class="col-md-3"></div>
</div>