@model ICollection<BookApointementVM>
@{
    ViewBag.Title = "These are your appointmets";
    var currentUserId = Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    var list = @Model.OrderBy(m => m.Date).ToList();
}
@using MentalDepths.Services.Web.Interfaces;
@inject ISpecialistService sps
<h1>@ViewBag.Title</h1>
<hr>
<div class="container-fluid">
    <div class="">
        @if (sps.IsThereASpecialistWithThisUserId(currentUserId).Result)
        {
            @foreach (var item in list)
            {
                <div class="card">
                    <div class="card-header"> Session with : @item.User.UserName on @item.Date.DayOfWeek</div>
                    <div class="card-body">Address: @item.Address <button class="btn btn-primary w-25 align-self-end float-end" onclick="window.confirm('Are you sure you want to continue?')">Apointment has passed successfully</button></div>
                    <div class="card-body">Time: @item.Date.Hour:@item.Date.Minute - @item.Date.AddHours(1).Hour:@item.Date.Minute</div>
                </div>
            }
        }
        else
        {
            @foreach (var item in list)
            {
                <div class="card ">
                    <div class="card-header col-md-12"> Session with : @sps.GetUsernameForspecialist(item.Specialist.UserId).Result on @item.Date.DayOfWeek</div>
                    <div class="card-body">Address: @item.Address</div>
                    <div class="card-body">Time: @item.Date.Hour:@item.Date.Minute - @item.Date.AddHours(1).Hour:@item.Date.Minute</div>
                </div>
            }
        }
    </div>
</div>